
      
          #topBar{
              background-color: #D8E6DF;
              width: 100%;
              height:50px;
                }  
              
              
          body{
              
              margin: 0 auto; 
            font-family: Arial, Helvetica, sans-serif;
              
  
          }        
              
          .float{
             
              
              height:100px;
              width:200px;
              float:left;
              text-align: center;
                font-family: Arial, Helvetica, sans-serif;
              padding-top: 15px;
              margin-left: 15px;
              }
              
          #secondbar{
              width:100%;
              height:65px; 
              background-color: #FFCC00;
                  
              }
              
              
              
#bottom{
    
    
    
    width:100%;
    height:45px;
    background-color: darkgoldenrod;
    
    
}
          
              
              
              
          #thirdrow {
              
              height:400px;
              width:100%;
              background-color: white;
             
             margin-top: 20px;
              
    
          }
          
          #picture{height:330px;
              width:30%;
              height: 100%;
           
              
              
          }
          
          
                 
          
          #picNpic{height:330px;
              width:30%;
              height: 100%;
              position: relative;
              left: 45px;
              top:-0px;
              
           
              
              
          } 
          
          
          #picNpic2{height:330px;
              width:31.3%;
              height: 100%;
              position: relative;
              left: 85px;
              top:-0px;
            
           
              
              
          } 
          
          
          
      
          .section{
              
              
              height:200px;
              width:25%;
              float: left;
              margin-right: 30px;

              
              margin-left: 50px;
              
              
          }
       
h1{position:relative;
    left: 505px;
    
    
}
          
          #corrall{
              
              height:250px;
              width:100%;
              margin-top: 20px;
              
          }
      
          
                

          
          
          p{  overflow-x: scroll;
              text-align: justify;
    }
            

#spacer{

height: 65px;
 background-color: #FFCC00;
margin-top: 180px;

}
      #contact{
 font-family: "Times New Roman", Times, serif;

	 text-align: center;
	
}

#click {
  background-color: red;
  border: none;
  color: white;
  padding: 0;
width: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  
  cursor: pointer;
}



<script>



	</script>